{
    "presets": [
      ["env", {"loose": true, "modules": false}],
      ["es2015", {"loose": true, "modules": false}]
    ],
    "plugins": [
      "babel-plugin-transform-class-properties"
    ]
  }